@charset "utf-8";
/* CSS Document */
html,body{ padding:0; margin:0;}
marquee{ width:110px;}
.tui_widget_weather_panel{ width:250px; height:210px; font-family:'lucida grande',Helvetica,Tahoma,Verdana,Arial,Microsoft YaHei,simsun,sans-serif;*font-family:Microsoft YaHei; font-size:13px; position:relative; font-size:13px;}
.tui_widget_weather_panel .today_panel{ width:250px; height:120px; background:url(bg.png) repeat 0 0;border-radius:5px; border:1px solid #444; overflow:hidden; position:relative;}
.tui_widget_weather_panel .city_panel{ height:29px; line-height:29px; background:url(bg.png) repeat 0 0; text-align:right; padding-right:10px; color:#b7b7b7;}
.city_icon{ display:inline-block;*display:inline;*zoom:1; width:12px; height:15px; background:url(icon.png) no-repeat 0 0; padding:0 6px; vertical-align:middle;}
.tui_widget_weather_panel .info_panel{ float:right;color:#b6b6b7;}
.tui_widget_weather_panel .today_panel .info_panel{ height:82px; padding:6px 8px;  background:url(icon.png) no-repeat 0 -19px;}
.tui_widget_weather_panel .today_panel .info_panel .temperature .high_light{ font-size:27px; color:#fff;}
.tui_widget_weather_panel .today_panel .info_panel .weather{ font-size:12px; width:123px;}
.tui_widget_weather_panel .today_panel .info_panel .date{ margin-bottom:6px;}

.tui_widget_weather_panel .img_panel{position:absolute;}
.tui_widget_weather_panel .today_panel .img_panel{ width:110px; height:110px;  left:4px; top:50%; margin-top:-55px;}
.tui_widget_weather_panel .other_panel .img_panel{ width:32px; height:32px; left:6px; top:50%; margin-top:-16px;}


.tui_widget_weather_panel .other_panel{ width:250px; height:83px; background:url(bg.png) repeat 0 0; margin-top:2px;border-radius:5px; border:1px solid #444; overflow:hidden; position:relative;}
.tui_widget_weather_panel .other_panel .day_panel{ height:40px; position:relative; font-size:12px;}
.tui_widget_weather_panel .other_panel .info_panel{ position:relative; padding:0 0 0 4px; height:40px; line-height:20px;background:url(icon.png) no-repeat 0 -153px;}
.tui_widget_weather_panel .other_panel .info_panel .date,.tui_widget_weather_panel .other_panel .info_panel .weather{ padding-right:96px; }
.tui_widget_weather_panel .other_panel .info_panel .temperature{ position:absolute; right:8px; top:50%; height:14px; line-height:14px; text-align:center; padding:6px 10px; border-radius:13px;background:url(bg.png) repeat 0 0; margin-top:-13px; box-shadow:0 1px 2px #000 inset;}
.tui_widget_weather_panel .other_panel .divide_line{ height:2px; width:250px; background:url(icon.png) repeat-x 0 -145px; }

.clear_both{ height:0; clear:both;}


