<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<script type="text/javascript" src="jquery-1.6.2.js"></script>
<script type="text/javascript" src="tuiDrag.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	var option={
		handle:'#hand',
		proxy:function(){
			var h='<div class="proxy" style="z-index:1001"></div>';
			return $(h).appendTo('body');
		},
		onDraging:function(x,y){
			if(x>400){
				x='<span style="color:red">'+x+'</span>';
			}
			$('#info').html('moving to x:'+x+' y:'+y)
		},
		onDrop:function(x,y){
			if(x>400){
				$(this).tsDrag('revert',false);
			}
			$('#info').html('drop at x:'+x+' y:'+y);
		},
		revert:true
	}
	$('#drag').tsDrag(option);
})
function fun4(){
	$('#drag').css({left:'8px',top:'8px'});
	$('#drag').tsDrag('revert',true);
}
function fun5(){
	$('#drag').tsDrag('revert',false);
}
</script>
<style>
#drag{width:100px;height:100px; background-color:#EEE;border:1px solid #00F;z-index:1000;}
#hand{height:20%;width:100%;text-align:center; background-color:#39F}
#info{margin:100px;position:absolute;}
.proxy{width:100px;height:100px;background-color:#CCC;}
.fun{position:absolute;top:10px;right:10px;border:2px solid #CCC;}
.fun .title{width:100%;height:20px;background-color:#CCC; font-family:Arial, Helvetica, sans-serif;size:14px; text-align:center;margin:0 0 10px;}
</style>
</head>

<body>
<div id="drag">
	<div id="hand">拖拽窗口</div>
</div>
<div id="info"></div>
<br />
<div class="fun">
	<div class="title">
    	带回溯的拖拽，只有拖动坐标距离左侧超过400px后，才会停住
   	</div>
<button onclick="fun4()">恢复</button>
<button onclick="fun5()">不恢复</button>
</div>
</body>
</html>
