@charset "utf-8";
/* CSS Document by machi */
/*==============global=============*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
margin:0px;padding:0px;border: 0;font-weight: normal;font-style: inherit;vertical-align: baseline;font-size:12px; font-family:"微软雅黑", Arial, Helvetica, sans-serif;}
table { border-collapse:separate; border-spacing:0; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
a img { border: none; outline:none;    }
a:hover{ text-decoration:none;}
a{outline:none;text-decoration:none; color:#333;}
ol,ul{list-style:none;}
fieldset, img{ border:0 none;}
table *{ vertical-align:middle;}
table tr td{ padding:2px; vertical-align:middle;}
/*========clear ie6++ firefox=============*/
.clear { zoom:1;}
.clear:after {clear: both;display: block;line-height: 0;font-size: 0;content: '.';visibility: hidden;}
/*=================start=================*/
html{width:100%; height:100%;overflow:hidden;}
body{ background-color:#989dbc;background:url(../images/tui_login/bg1.jpg) no-repeat scroll center top; background-size:100% 100%; width:100%; height:100%;}
.login_body_bg{ }
.login_panel{ width:400px; height:390px; position:absolute; z-index:10; right:25%; top:50%; margin-right:-200px; margin-top:-180px;}
.login_logo_panel{ border-bottom:1px solid #fff; height:50px; padding-bottom:10px;}
.login_skyone_logo{ background:url(../images/tui_login/skyone_logo.png) no-repeat 0 0; width:240px; height:50px;}
.login_company_panel{ padding-top:4px; margin-bottom:20px;}
.login_cz_logo{width:123px; height:30px; background:url(../images/tui_login/login_cz.png) no-repeat 0 0; float:right;}
.login_ca_logo{width:123px; height:30px; background:url(../images/tui_login/login_ca.png) no-repeat 0 0; float:right;}
.login_hu_logo{width:123px; height:30px; background:url(../images/tui_login/login_hu.png) no-repeat 0 0; float:right;}
.login_ts_logo{width:123px; height:30px; background:url(../images/tui_login/login_ts.png) no-repeat 0 0; float:right;}
.login_mu_logo{width:123px; height:30px; background:url(../images/tui_login/login_mu.png) no-repeat 0 0; float:right;}
.login_no_logo{width:123px; height:30px;float:right; color:#fff; font-size:14px; text-align:right;}
.back_button{float:left; color:#fff; font-size:14px; cursor:pointer;}
.back_button:hover{ color:#ccc;}
.clear_both{height:0; clear:both;}
.login_input_panel{ width:260px; float:right; position:relative;}
.line{ padding:10px 0; position:relative;}
.line.r{ text-align:right;}
.line label{ position:absolute; top:12px;cursor:text; left:4px; height:34px;line-height:34px;font-size:18px; color:#888; font-family:'lucida grande',Helvetica,Tahoma,Verdana,Arial,'Microsoft YaHei',simsun,sans-serif; display:none;}
.login_input,.login_code{ height:34px; line-height:34px; background:#fff url(../images/tui_login/input_bg.png) repeat-x 0 0; border:1px solid #aaa; border-radius:3px; font-size:18px; color:#666; width:244px;font-family:'lucida grande',Helvetica,Tahoma,Verdana,Arial,Microsoft YaHei,simsun,sans-serif; vertical-align:middle;  padding:0 6px; outline:none;}
@media screen and (-webkit-min-device-pixel-ratio:0) {.login_input,.login_code{line-height:normal;}} /*20141031 修正chrome下没输入文字时光标的错位*/
.login_input.error,.login_code.error{ border-color:#f15959; background-color:#ffe3ed; background-image:none; border-width:2px; margin:-1px;}
.login_input.focus,.login_code.focus{ border-color:#ffba57; border-width:2px; margin:-1px;}
.login_code{ width:168px;}
.login_code_img{ width:60px; height:36px; vertical-align:middle; cursor:pointer; border-radius:3px;margin-left:10px;}
.login_button{ height:34px; line-height:34px; border:1px solid #b73440; text-align:center; width:146px; background-color:#df616c; border-radius:3px; color:#fff; font-size:16px; cursor:pointer; transition:all ease-out .3s; -webkit-user-select:none; -moz-user-select:none; -o-user-select:none; -ms-user-select:none;}
.login_button:hover{ background-color:#ed7d86;}
.login_button:active{ background-color:#b73440;}
.error_info{height:16px; position:absolute; line-height:16px; font-size:12px; top:-10px; color:#fff;}

.copyright{position:fixed; bottom:0; left:50%; margin-left:-150px; color:#fff; width:300px;}

.animate_panel{ position:absolute; z-index:1;}
.cloud1{ width:6242px; height:482px; bottom:-40px; left:0;}
.cloud2{width:4000px; height:300px; bottom:0; left:0;}

.sms_button{height:34px; margin-left:6px;display:inline-block;*display:inline;*zoom:1;vertical-align:middle; line-height:34px; border:1px solid #579e43;text-align:center; width:86px; background-color:#66ac52; border-radius:3px; color:#fff; font-size:16px; cursor:pointer; transition:all ease-out .3s; -webkit-user-select:none; -moz-user-select:none; -o-user-select:none; -ms-user-select:none;}
.sms_input{ width:140px;}
.sms_resend{ background-color:#ccc; border-color:#666;color:#333; height:24px; line-height:24px;font-size:12px;}
.sms_resend:hover{ background-color:#eee;}
.sms_resend.disabled{ background-color:#999; color:#666; cursor:default;}
/*=========登录input输入框中的邮箱提示========*/
.auto_comp_panel{display:none;width:100px; left:700px; top:160px;position:absolute;background:#fff; border:1px solid #ccc; border-radius:3px; box-shadow:1px 1px 4px #aaa; padding:2px; position:absolute; z-index:100;}
.auto_comp_panel ul li{overflow:hidden; border:1px solid #fff; cursor:pointer; height:16px; line-height:16px; font-size:13px; padding:2px; color:#666;}
.auto_comp_panel ul li.hover{background-color:#fff3c9; border:1px solid #e3d9b5;}

.ad_panel{position:absolute; width:450px; height:280px; top:50%; left:30%; margin-top:-140px; margin-left:-225px;overflow:auto;}
.ad_panel img{width:100%; height:100%; position:absolute;top:0; left:0;}
.ad_nav_panel{position:absolute;left:30%;text-align:center; top:50%; height:20px;line-heigth:20px; width:450px;z-index:20; margin-left:-225px;margin-top:140px;}
.ad_nav_panel .ad_nav{height:9px; width:9px; display:inline-block;*display:inline;*zoom:1; background-color:#919de5; margin:3px 4px; cursor:pointer; border-radius:5px;}
.ad_nav_panel .ad_nav:hover{background-color:#dfe3fd;}
.ad_nav_panel .ad_nav.current{ background-color:#fff;}

.login_info_panel{ height:28px; line-height:28px; border:1px solid #f39a31; border-radius:3px; background-color:#e3d0b7; padding-left:6px; color:#e76d01;}