<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="tui_dialog.css" />
<link rel="stylesheet" type="text/css" href="../../styles/tui_content.css" />
</head>

<body>
	<div class="dialog_panel" style="width:200px; left:20px; top:20px;">
    	<div class="dialog_head_left">
        	<div class="dialog_head_right">
            	<div class="dialog_head_content">
                	<div class="dialog_head_title">公告管理</div>
                    <div class="dialog_head_close"></div>
                </div>
            </div>
        </div>
        <div class="dialog_body_left">
        	<div class="dialog_body_right">
            	<div class="dialog_body_content">
                	<br />
                	这是一个测试<br />
                    <br />
                    <br />
                    <div class="dialog_btn_panel">
                    	<div class="btn_page btn_save">
                            <div class="btn_left"></div>
                            <div class="btn_content">&nbsp;确定&nbsp;</div>
                            <div class="btn_right"></div>
                        </div>
                        <div class="btn_page btn_cancel">
                            <div class="btn_left"></div>
                            <div class="btn_content">&nbsp;取消&nbsp;</div>
                            <div class="btn_right"></div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <div class="dialog_foot_left">
        	<div class="dialog_foot_right">
            	<div class="dialog_foot_content"></div>
            </div>
        </div>
	</div>
    
    <div class="dialog_panel" style="width:200px; left:320px; top:20px;">
    	<div class="dialog_head_no_title_left">
        	<div class="dialog_head_no_title_right">
            	<div class="dialog_head_no_title_content"></div>
            </div>
        </div>
        <div class="dialog_body_left">
        	<div class="dialog_body_right">
            	<div class="dialog_body_content">
                	<br />
                	这是一个测试<br />
                    <br />
                    <br />
                    <div class="dialog_btn_panel">
                    	<div class="btn_page btn_save">
                            <div class="btn_left"></div>
                            <div class="btn_content">&nbsp;确定&nbsp;</div>
                            <div class="btn_right"></div>
                        </div>
                        <div class="btn_page btn_cancel">
                            <div class="btn_left"></div>
                            <div class="btn_content">&nbsp;取消&nbsp;</div>
                            <div class="btn_right"></div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <div class="dialog_foot_left">
        	<div class="dialog_foot_right">
            	<div class="dialog_foot_content"></div>
            </div>
        </div>
	</div>
    
    <div class="dialog_panel" style="width:200px; left:620px; top:20px;">
    	<div class="dialog_head_narrow_left">
        	<div class="dialog_head_narrow_right">
            	<div class="dialog_head_narrow_content"></div>
            </div>
        </div>
        <div class="dialog_body_narrow_left">
        	<div class="dialog_body_narrow_right">
            	<div class="dialog_body_narrow_content">
                	<br />
                	这是一个测试<br /><br />
					sdasd
                    <br />
                    <br />
                    <div class="dialog_btn_panel">
                    	<div class="btn_page btn_save">
                            <div class="btn_left"></div>
                            <div class="btn_content">&nbsp;确定&nbsp;</div>
                            <div class="btn_right"></div>
                        </div>
                        <div class="btn_page btn_cancel">
                            <div class="btn_left"></div>
                            <div class="btn_content">&nbsp;取消&nbsp;</div>
                            <div class="btn_right"></div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <div class="dialog_foot_narrow_left">
        	<div class="dialog_foot_narrow_right">
            	<div class="dialog_foot_narrow_content"></div>
            </div>
        </div>
	</div>
    
    <div class="dialog_panel" style=" left:20px; top:200px;">
    	<div class="dialog_waiting">
        	<div class="dialog_waiting_msg">
            	<div class="icon"></div><span class="content">请稍后...</span>
            </div>
        </div>
    </div>
    
    <div style="position:absolute; left:320px; top:200px;">测试的文字用于检查弹出的警告窗口</div>
    <div class="dialog_panel" style=" left:320px; top:200px;">
    	<div class="dialog_close_icon"></div>
    	<div class="dialog_alert">
        	<div class="dialog_alert_msg">
            	这是一个错误<br />
				这是一个提示<br />
                这是一个窗口，窗口错误！！！！！！<br />
                <div class="dialog_btn_panel">
                    <div class="btn_page btn_save">
                        <div class="btn_left"></div>
                        <div class="btn_content">&nbsp;确定&nbsp;</div>
                        <div class="btn_right"></div>
                    </div>
                    <div class="btn_page btn_cancel">
                        <div class="btn_left"></div>
                        <div class="btn_content">&nbsp;取消&nbsp;</div>
                        <div class="btn_right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="dialog_panel" style="width:200px; left:720px; top:200px;">
    	<div class="dialog_head_left">
        	<div class="dialog_head_right">
            	<div class="dialog_head_content">
                	<div class="dialog_head_title">公告管理</div>
                    <div class="dialog_head_close"></div>
                </div>
            </div>
        </div>
        <div class="dialog_body_left">
        	<div class="dialog_body_right">
            	<div class="dialog_body_content">
                	<iframe border="0" class="dialog_iframe" src="http://www.baidu.com"></iframe>
				</div>
            </div>
        </div>
        <div class="dialog_foot_left">
        	<div class="dialog_foot_right">
            	<div class="dialog_foot_content"></div>
            </div>
        </div>
	</div>
    
    <div class="dialog_panel" style="width:300px; left:20px; top:400px;">
    	<div class="dialog_head_left">
        	<div class="dialog_head_right">
            	<div class="dialog_head_content">
                	<div class="dialog_head_title">公告管理</div>
                    <div class="dialog_head_close"></div>
                </div>
            </div>
        </div>
        <div class="dialog_body_left">
        	<div class="dialog_body_right">
            	<div class="dialog_body_content">
                	<div class="dialog_info">
                    	<div class="dialog_icon_confirm"></div>
                        <div class="dialog_info_content">你确定要删除吗？</div>
                	</div>
                    <div class="dialog_btn_panel">
                    	<div class="btn_page btn_save">
                            <div class="btn_left"></div>
                            <div class="btn_content">&nbsp;确定&nbsp;</div>
                            <div class="btn_right"></div>
                        </div>
                        <div class="btn_page btn_cancel">
                            <div class="btn_left"></div>
                            <div class="btn_content">&nbsp;取消&nbsp;</div>
                            <div class="btn_right"></div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <div class="dialog_foot_left">
        	<div class="dialog_foot_right">
            	<div class="dialog_foot_content"></div>
            </div>
        </div>
	</div>
    
    <div class="dialog_panel" style=" left:620px; top:420px; width:400px;">
    	<div class="dialog_close_icon"></div>
    	<div class="dialog_alert">
        	<div class="dialog_alert_msg">
            	<div class="dialog_info">
                    <div class="dialog_icon_alert"></div>
                    <div class="dialog_info_content">你确定要删除吗？</div>
                </div>
                <div class="dialog_btn_panel">
                    	<div class="btn_page btn_save">
                            <div class="btn_left"></div>
                            <div class="btn_content">&nbsp;确定&nbsp;</div>
                            <div class="btn_right"></div>
                        </div>
                        <div class="btn_page btn_cancel">
                            <div class="btn_left"></div>
                            <div class="btn_content">&nbsp;取消&nbsp;</div>
                            <div class="btn_right"></div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    
    <div class="dialog_panel" style="width:300px; left:920px; top:20px;">
    	<div class="dialog_head_no_title_left">
        	<div class="dialog_head_no_title_right">
            	<div class="dialog_head_no_title_content"></div>
            </div>
        </div>
        <div class="dialog_body_left">
        	<div class="dialog_body_right">
            	<div class="dialog_body_content">
                	<div class="dialog_info">
                        <div class="dialog_icon_error"></div>
                        <div class="dialog_info_content">你确定要删除吗？</div>
                    </div>
                    <div class="dialog_btn_panel">
                    	<div class="btn_page btn_save">
                            <div class="btn_left"></div>
                            <div class="btn_content">&nbsp;确定&nbsp;</div>
                            <div class="btn_right"></div>
                        </div>
                        <div class="btn_page btn_cancel">
                            <div class="btn_left"></div>
                            <div class="btn_content">&nbsp;取消&nbsp;</div>
                            <div class="btn_right"></div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <div class="dialog_foot_left">
        	<div class="dialog_foot_right">
            	<div class="dialog_foot_content"></div>
            </div>
        </div>
	</div>
    
    <div class="dialog_panel" style="width:300px; left:1020px; top:220px;">
    	<div class="dialog_head_narrow_left">
        	<div class="dialog_head_narrow_right">
            	<div class="dialog_head_narrow_content"></div>
            </div>
        </div>
        <div class="dialog_body_narrow_left">
        	<div class="dialog_body_narrow_right">
            	<div class="dialog_body_narrow_content">
                	<div class="dialog_info">
                        <div class="dialog_icon_info"></div>
                        <div class="dialog_info_content">你确定要删除吗？</div>
                    </div>
                    <div class="dialog_btn_panel">
                    	<div class="btn_page btn_save">
                            <div class="btn_left"></div>
                            <div class="btn_content">&nbsp;确定&nbsp;</div>
                            <div class="btn_right"></div>
                        </div>
                        <div class="btn_page btn_cancel">
                            <div class="btn_left"></div>
                            <div class="btn_content">&nbsp;取消&nbsp;</div>
                            <div class="btn_right"></div>
                        </div>
                    </div>
				</div>
            </div>
        </div>
        <div class="dialog_foot_narrow_left">
        	<div class="dialog_foot_narrow_right">
            	<div class="dialog_foot_narrow_content"></div>
            </div>
        </div>
	</div>
</body>
</html>
