<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="tui_dialog.css" />
<link rel="stylesheet" type="text/css" href="../../styles/tui_content.css" />
<script type="text/javascript" src="../../scripts/jquery.js"></script>
<script type="text/javascript" src="../tui_core.js"></script>
<script type="text/javascript" src="../tuiDrag/tui_drag.js"></script>
<script type="text/javascript" src="tui_dialog.js"></script>
<script type="text/javascript">
function fun1(){
	$.tui.tuiDialog({
		mode:'window',
		style:'window',
		url:'http://www.baidu.com',
		width:860,
		height:500,
		message:'Hello World!',
		showTitle:true,
		showDefaultBtn:true
	});
}
function fun2(){
	$.tui.tuiDialog({
		mode:'window',
		style:'text',
		url:'http://www.baidu.com',
		width:300,
		height:100,
		message:'Hello World!',
		showTitle:true,
		showDefaultBtn:true,
		confirmBtn:true,
		onConfirm:function(){
			alert('窗口即将关闭');
			$.tui.closeTuiWindow();
		}
	});
}
function fun3(){
	$.tui.tuiDialog({
		mode:'window',
		style:'error',
		width:300,
		height:140,
		message:'系统出错了！',
		showTitle:true,
		showDefaultBtn:true,
		confirmBtn:true,
		onConfirm:function(){
			$.tui.closeTuiWindow();
		}
	});
}
function fun4(){
	$.tui.tuiDialog({
		mode:'window',
		style:'confirm',
		width:300,
		height:140,
		message:'你确认要删除吗？',
		showTitle:true,
		showDefaultBtn:true,
		confirmBtn:true,
		cancelBtn:true,
		onConfirm:function(){
			alert('点击的是确定');
			//$.tui.closeTuiWindow();
		},
		onCancel:function(){
			alert('点击的是取消');
			//$.tui.closeTuiWindow();
		}
	});
}
function fun5(){
	$.tui.tuiDialog({
		mode:'no_title_window',
		style:'window',
		url:'iframe.html',
		width:860,
		height:500,
		message:'Hello World!',
		showTitle:true,
		showDefaultBtn:true
	});
}
function fun6(){
	$.tui.tuiDialog({
		mode:'no_title_window',
		style:'text',
		width:300,
		height:100,
		message:'Hello World!',
		showTitle:true,
		showDefaultBtn:true,
		confirmBtn:true,
		onConfirm:function(){
			alert('窗口即将关闭');
			$.tui.closeTuiWindow();
		}
	});
}
function fun7(){
	$.tui.tuiDialog({
		mode:'no_title_window',
		style:'error',
		width:300,
		height:100,
		message:'系统出错了！',
		showTitle:true,
		showDefaultBtn:true,
		confirmBtn:true,
		onConfirm:function(){
			$.tui.closeTuiWindow();
		}
	});
}
function fun8(){
	$.tui.tuiDialog({
		mode:'no_title_window',
		style:'confirm',
		width:300,
		height:100,
		message:'你确认要删除吗？',
		showTitle:true,
		showDefaultBtn:true,
		confirmBtn:true,
		cancelBtn:true,
		onConfirm:function(){
			alert('点击的是确定');
			//$.tui.closeTuiWindow();
		},
		onCancel:function(){
			alert('点击的是取消');
			//$.tui.closeTuiWindow();
		}
	});
}
function fun9(){
	$.tui.tuiDialog({
		mode:'narrow_window',
		style:'window',
		url:'iframe.html',
		width:860,
		height:500,
		message:'Hello World!',
		showTitle:true,
		showDefaultBtn:true
	});
}
function fun10(){
	$.tui.tuiDialog({
		mode:'narrow_window',
		style:'text',
		width:300,
		height:100,
		message:'Hello World!',
		showTitle:true,
		showDefaultBtn:true,
		confirmBtn:true,
		onConfirm:function(){
			alert('窗口即将关闭');
			$.tui.closeTuiWindow();
		}
	});
}
function fun11(){
	$.tui.tuiDialog({
		mode:'narrow_window',
		style:'error',
		width:300,
		height:100,
		message:'系统出错了！',
		showTitle:true,
		showDefaultBtn:true,
		confirmBtn:true,
		onConfirm:function(){
			$.tui.closeTuiWindow();
		}
	});
}
function fun12(){
	$.tui.tuiDialog({
		mode:'narrow_window',
		style:'confirm',
		width:300,
		height:100,
		message:'你确认要删除吗？',
		showTitle:true,
		showDefaultBtn:true,
		confirmBtn:true,
		cancelBtn:true,
		onConfirm:function(){
			alert('点击的是确定');
			//$.tui.closeTuiWindow();
		},
		onCancel:function(){
			alert('点击的是取消');
			//$.tui.closeTuiWindow();
		}
	});
}
function fun13(){
	$.tui.tuiDialog({
		mode:'alert',
		style:'window',
		url:'iframe.html',
		width:860,
		height:500,
		message:'Hello World!',
		showTitle:true,
		showDefaultBtn:true
	});
}
function fun14(){
	$.tui.tuiDialog({
		mode:'alert',
		style:'text',
		width:300,
		height:100,
		message:'Hello World!',
		showTitle:true,
		showDefaultBtn:true,
		confirmBtn:true,
		onConfirm:function(){
			alert('窗口即将关闭');
			$.tui.closeTuiWindow();
		}
	});
}
function fun15(){
	$.tui.tuiDialog({
		mode:'alert',
		style:'error',
		width:400,
		height:130,
		message:'系统出错了！',
		showTitle:true,
		showDefaultBtn:true,
		confirmBtn:true,
		onConfirm:function(){
			$.tui.closeTuiWindow();
		}
	});
}
function fun16(){
	$.tui.tuiDialog({
		mode:'alert',
		style:'confirm',
		width:400,
		height:130,
		message:'你确认要删除吗？',
		showTitle:true,
		showDefaultBtn:true,
		confirmBtn:true,
		cancelBtn:true,
		onConfirm:function(){
			alert('点击的是确定');
			//$.tui.closeTuiWindow();
		},
		onCancel:function(){
			alert('点击的是取消');
			//$.tui.closeTuiWindow();
		}
	});
}
function fun17(){
	$.tui.tuiDialog({
		mode:'waiting',
		style:'confirm',
		message:'3S后关闭...',
		showTitle:true,
		showDefaultBtn:true,
		confirmBtn:true,
		cancelBtn:true,
		onConfirm:function(){
			alert('点击的是确定');
			//$.tui.closeTuiWindow();
		},
		onCancel:function(){
			alert('点击的是取消');
			//$.tui.closeTuiWindow();
		}
	});
	setTimeout(function(){$.tui.closeTuiWindow()},3000);
}
function clk1(){
	var opt={
		url:'http://www.baidu.com',
		title:'百度-全球最大的中文搜索引擎'
	}
	$.showTuiModalDialog(opt);
}
function clk2(){
	var opt={
		url:'http://www.baidu.com',
		title:'百度-全球最大的中文搜索引擎'
	}
	$.showTuiDialog(opt);
}
function clk3(){
	$.showTuiErrorDialog('Agent配置有误，无法SI',function(){
		alert('点击了确定按钮');
	})
}
function clk4(){
	$.showTuiInfoDialog('这是一个提示信息',null,null,function(){
		alert('点击了确定按钮');
	})
}
function clk5(){
	$.showTuiWaitingDialog('请稍后...');
	setTimeout(function(){$.closeTuiWindow();},5000);
}
function clk6(){
	$.showTuiMessageDialog('这是一个提示信息',function(){
		alert('点击了确定按钮');
	});
}
function clk7(){
	$.showTuiConfirmDialog('你确认要删除吗？',function(){
		alert('点击了确定按钮');
	});
}
function clk8(){
	$.showTuiSuccessDialog('模板创建成功！',function(){
		alert('点击了确定按钮');
	});
}
function clk9(){
	$.showTuiNoImgDialog('空白的文本域和文字',function(){
		alert('点击了确定按钮');
	});
}
function clk10(){
	var opt={
		width:'auto',
		height:'auto',
		url:'http://www.baidu.com',
		title:'百度-全球最大的中文搜索引擎'
	}
	$.showTuiModalDialog(opt);
}
function clk11(){
	var opt={
		width:'70%',
		height:'60%',
		url:'http://www.baidu.com',
		title:'百度-全球最大的中文搜索引擎'
	}
	$.showTuiModalDialog(opt);
}
</script>
<style>
.btn{ display:inline-block;*display:inline;*zoom:1; width:200px; height:28px; line-height:28px; border:1px solid blue; background:#FC3; cursor:pointer; text-align:center;}
.demo_left{ width:400px; border:2px dashed red; float:left;}
.demo_right{ width:400px; border:2px dashed red; float:right;}
h2{padding:0; margin:0;}
</style>
<title>TuiDialog</title>
</head>

<body>
<h1>TuiDialog Demo</h1>
<h4>Date:2012/09/21</h4>
<hr />
<div class="demo_left">
<h2>原始方法</h2><hr />
<a class="btn" onclick="fun1()">window,window</a>标准弹出窗口<br />
<a class="btn" onclick="fun2()">window,text</a>只有文本的弹出窗口<br />
<a class="btn" onclick="fun3()">window,error</a>错误的弹出窗口<br />
<a class="btn" onclick="fun4()">window,confirm</a>确认窗口<br />
<a class="btn" onclick="fun5()">no_title_window,window</a>无标题弹出窗口<br />
<a class="btn" onclick="fun6()">no_title_window,text</a>只有文本的无标题弹出窗口<br />
<a class="btn" onclick="fun7()">no_title_window,error</a>错误的无标题弹出窗口<br />
<a class="btn" onclick="fun8()">no_title_window,confirm</a>确认的无标题窗口<br />
<a class="btn" onclick="fun9()">narrow_window,window</a>窄框弹出窗口<br />
<a class="btn" onclick="fun10()">narrow_window,text</a>只有文本的窄框弹出窗口<br />
<a class="btn" onclick="fun11()">narrow_window,error</a>错误的窄框弹出窗口<br />
<a class="btn" onclick="fun12()">narrow_window,confirm</a>确认的窄框弹出窗口<br />
<a class="btn" onclick="fun13()">alert,window</a>警告窗口<br />
<a class="btn" onclick="fun14()">alert,text</a>只有文本的警告窗口<br />
<a class="btn" onclick="fun15()">alert,error</a>错误的警告窗口<br />
<a class="btn" onclick="fun16()">alert,confirm</a>确认的警告窗口<br />
<a class="btn" onclick="fun17()">waiting</a>请稍后<br />
</div>
<div class="demo_right">
<h2>框架方法</h2><hr />
<a class="btn" onclick="clk1()">$.showTuiModalDialog</a><br />
<a class="btn" onclick="clk2()">$.showTuiDialog</a><br />
<a class="btn" onclick="clk3()">$.showTuiErrorDialog</a><br />
<a class="btn" onclick="clk4()">$.showTuiInfoDialog</a><br />
<a class="btn" onclick="clk5()">$.showTuiWaitingDialog</a><br />
<a class="btn" onclick="clk6()">$.showTuiMessageDialog</a><br />
<a class="btn" onclick="clk7()">$.showTuiConfirmDialog</a><br />
<a class="btn" onclick="clk8()">$.showTuiSuccessDialog</a><br />
<a class="btn" onclick="clk9()">$.showTuiNoImgDialog</a><br />
<a class="btn" onclick="clk10()">$.showTuiMo...(auto,auto)</a><br />
<a class="btn" onclick="clk11()">$.showTuiMo...(70%,60%)</a><br />
</div>
</body>
</html>
