@charset "utf-8";
/* CSS Document */
.graph_title{ height:34px; line-height:34px; background-color:#ebebeb;color:#7f7f7f;font-size:12px; text-align:left; padding-left:10px;}
.graph_title .important_title{color:#365ec0; padding-right:4px;}
.graph_tip{display:none; position:absolute;z-index:100; border:1px solid #8d8d8d; border-radius:3px; width:auto; min-width:130px; height:70px; color:#495a6e; font-size:12px; background-color:#fff;}
.graph_tip .graph_category{background-color:#d2dff2; text-align:left; height:25px;  vertical-align:middle; line-height:25px; padding:0 5px 0 5px;}
.graph_tip .graph_desc{padding:2px 5px 2px 5px;}
.graph_tip .graph_num{ color:#007fff;}

/****页面按钮组****/
.graph_switch{display:inline-block; *display:inline;*zoom:1; border-radius:2px; border:1px solid #bebebe; height:24px; line-height:24px; color:#4c4c4c; font-size:12px;}
.graph_switch li{ list-style:none; display:inline-block; *display:inline;*zoom:1; padding:0 9px;background:url(../../images/tui_vertical.png) repeat-x 0px -746px #fff; cursor:pointer;}
.graph_switch li.graph_switch_select{ background:url(../../images/tui_vertical.png) repeat-x 0px -716px; color:#fff; }