@charset "utf-8";
/* CSS Document */
.tui_widget_clock{ width:113px; height:113px;  background:#ebebeb; padding:15px;font-family:'lucida grande',Helvetica,Tahoma,Verdana,Arial,Microsoft YaHei,simsun,sans-serif; position:relative;}
.tui_widget_clock_canvas{ width:100%; height:100%; position:absolute; top:0px; left:0px;}
.tui_widget_clock_inner{width:100%; height:100%;  position:relative;padding:0; text-align:center;}
.tui_widget_clock.common .tui_widget_info{ position:absolute; bottom:14px;left:0; color:#b2b2b2; font-size:13px; width:100%;}
.tui_widget_clock.common .tui_widget_info .content{display:inline-block; border:1px solid #d9d9d9; border-radius:2px; padding:0px 6px; background-color:#fafafa;}
.tui_widget_clock.common .tui_widget_sec{ display:none;}
.tui_widget_clock.common{ background:url(clock_bg.png) no-repeat center center #fff;}

.tui_widget_clock.digital{ background:#fff;}
.tui_widget_clock.digital .tui_widget_clock_time{ width:110px; text-align:center; font-size:40px; height:68px; line-height:68px; position:absolute; top:5%; color:#848484; left:50%; margin-left:-55px; background:url(clock_number_panel.png) no-repeat center center #fff;} 
.tui_widget_clock.digital .tui_widget_info{position:absolute; bottom:0px;left:0; color:#b2b2b2; font-size:13px; width:100%; text-align:left;}
.tui_widget_clock.digital .tui_widget_sec{ display:inline-block;*display:inline;*zoom:1; width:27px; height:24px; line-height:24px; border:1px solid #999; border-left-width:2px; border-right-width:2px; text-align:center; background-color:#f8f8f8; font-size:16px; color:#e93737; margin-right:10px;}
.tui_widget_clock.digital .tui_widget_clock_city{display:inline-block;*display:inline;*zoom:1;border:1px solid #ccc; padding:0px 6px; background-color:#fafafa; height:24px; line-height:24px; vertical-align:bottom; width:54px; text-align:center;}
