body, p, ul{
    margin:0;
    padding:0;
}
body{
    background-color: #0c9;
    color: #333;
}
.container{
    width: 1000px;
    margin: 50px auto 0;
}

.select{
    width: 300px;
    height: 40px;
    /*margin:0 auto;*/
    font-family: "Microsoft Yahei";
    font-size: 16px;
    background-color: #fff;
    position: relative;
}
.select:after{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    border-left: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    position: absolute;
    top:11px;
    right: 12px;
    transform:rotate(-45deg);
    transition:transform .3s ease-out, top .3s ease-out;
}
.select p{
    padding:0 15px;
    line-height: 40px;
    cursor: pointer;
}
.select ul{
    list-style-type: none;
    background-color: #fff;
    width: 100%;
    overflow-y:auto;
    position: absolute;
    top:40px;
    left: 0;
    max-height: 0;
    transition: max-height .3s ease-out;
    z-index: 10;
}
.select ul li{
    padding: 0 15px;
    line-height: 40px;
    cursor: pointer;
}
.select ul li:hover{
    background-color: #e0e0e0;
}
.select ul li.selected{
    background-color: #39f;
    color: #fff;
}

@-webkit-keyframes slide-down{
    0%{transform: scale(1, 0);}
    25%{transform: scale(1, 1.2);}
    50%{transform: scale(1, 0.85);}
    75%{transform: scale(1, 1.05);}
    100%{transform: scale(1, 1);}
}
.select.open ul{
    max-height: 250px;
    transform-origin:50% 0;
    -webkit-animation:slide-down .5s ease-in;
    transition: max-height .2s ease-out;
}
.select.open:after{
    transform:rotate(-225deg);
    top: 18px;
    transition:all .3s ease-in;
}
