<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link rel="stylesheet" type="text/css" href="../../styles/tui_global.css" />
<link rel="stylesheet" type="text/css" href="../../styles/tui_content.css" />
<link rel="stylesheet" type="text/css" href="../tuiSuggest/tui_suggest.css" />
<script type="text/javascript" src="../jquery.js"></script>
<script type="text/javascript" src="../tui_core.js"></script>
<script type="text/javascript" src="../../scripts/tui_init.js"></script>
<script type="text/javascript" src="../tuiSuggest/tui_suggest.js"></script>
<script type="text/javascript" src="tui_single_select.js"></script>
<script type="text/javascript">
$(function(){
	var opt1={
		id:'i1',
		options:[
			{label:'高等数学',val:'gaodengshuxue'},
			{label:'线性代数',val:'xianxingdaishu'},
			{label:'概率论',val:'gailvlun'},
			{label:'数字逻辑',val:'shuziluoji'},
			{label:'电路分析',val:'dianlufenxi'}
		],
		onSelect:function(inp,pxy){
		},
		onChange:function(ni,np,oi,op){
			switch(ni){
				case 'gaodengshuxue':
					$.tui.setTuiSelectData('i2',teacher1);
					$.tui.changeTuiSelectItem('i2',0);
					break;
				case 'xianxingdaishu':
					$.tui.setTuiSelectData('i2',teacher2);
					$.tui.changeTuiSelectItem('i2',0);
					break;
				case 'gailvlun':
					$.tui.setTuiSelectData('i2',teacher3);
					$.tui.changeTuiSelectItem('i2',0);
					break;
				case 'shuziluoji':
					$.tui.setTuiSelectData('i2',teacher4);
					$.tui.changeTuiSelectItem('i2',0);
					break;
				case 'dianlufenxi':
					$.tui.setTuiSelectData('i2',teacher5);
					$.tui.changeTuiSelectItem('i2',0);
					break;
			}
		}
	};
	var teacher1=[
		{label:'张老师',val:'zhang'},
		{label:'王老师',val:'wang'}
	];
	var teacher2=[
		{label:'李老师',val:'li'},
		{label:'赵老师',val:'zhao'}
	];
	var teacher3=[
		{label:'陈老师',val:'chen'},
		{label:'杜老师',val:'du'}
	];
	var teacher4=[
		{label:'冯老师',val:'feng'},
		{label:'马老师',val:'ma'}
	];
	var teacher5=[
		{label:'吴老师',val:'wu'},
		{label:'吕老师',val:'lv'}
	];
	var opt2={
		id:'i2',
		options:teacher1,
		onSelect:function(inp,pxy){
		},
		onChange:function(ni,np,oi,op){
		}
	};
	var opt3={
		id:'i3',
		options:[
			{label:'北京',val:'PEK'},
			{label:'上海',val:'SHA'},
			{label:'广州',val:'CAN'},
			{label:'成都',val:'CTU'}
		],
		optionDefault:0,
		autoSelect:true,
		isInput:true
	};
	$.tui.tuiSingleSelect(opt1);
	$.tui.tuiSingleSelect(opt2);
	$.tui.tuiSingleSelect(opt3);
});
function doQuery(){
	alert('最后的提交的数据为：ipt1 = '+$('#i1').val()+' ipt2 = '+$('#i2').val()+' ipt3 = '+$('#i3').val())
}
</script>
</head>

<body>
<body class="helper_background_color1">
	<div class="main_box helper_padding_0">
    	<div class="query_section helper_height_50px">
        	<div class="query_section_single_line">
            	<span class="helper_margin_0_6px"><span class="necessary"></span>
                	选择课程:
            		<div class="input_outer">
                        <input type="text" class="input_advance" name="ipt1" size="10" id="i1" /><div class="input_select_btn"></div>
                    </div>
                </span>
                <span class="helper_margin_0_6px"><span class="necessary"></span>
                	选择老师:
            		<div class="input_outer">
                        <input type="text" class="input_advance" name="ipt2" size="5" id="i2" /><div class="input_select_btn"></div>
                    </div>
                </span>
                <span class="helper_margin_0_6px"><span class="necessary"></span>
                	选择上课地点:
            		<div class="input_outer">
                        <input type="text" class="input_advance" name="ipt3" size="8" id="i3" /><div class="input_select_btn"></div>
                    </div>
                </span>
                <div class="btn_page btn_search helper_vertical_middle" onclick="doQuery()">
                	<div class="btn_left"></div>
                    <div class="btn_content">查询</div>
                    <div class="btn_right"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
